# Base de datos GRATUITA en Neon: https://neon.tech
# Copie su Connection string y peguela abajo (?sslmode=require al final)

DATABASE_URL="PEGUE_AQUI_SU_URL_DE_NEON"

JWT_SECRET="cencoic-turnos-jwt-2026-k8mP2xQ9vL4nR7wZ6sH3fA1bN5jD0eU"
JWT_EXPIRES_IN="12h"
PORT=4000
CORS_ORIGIN="http://localhost:5173"
